In [1]:
#a) 

#1  
#2 2  
#3 3 3  
#4 4 4 4  
#5 5 5 5 5

n=6
for i in range(1,n):
    print(str(i)*i)

1
22
333
4444
55555

In [3]:
#B

#1
#12
#123
#1234
#12345


n=6
result=""
for i in range(1,n):
    result+=str(i)
    print(result)

1
12
123
1234
12345

In [8]:
#c)
#1 1 1 1 1 
#2 2 2 2 
#3 3 3 
#4 4 
#5

n=6
for i in range(1,n+1):
    print(str(i)*(n-i))

11111
2222
333
44
5

In [10]:
#D

#5 5 5 5 5 
#5 5 5 5 
#5 5 5 
#5 5 
#5

n=5
for i in range(n):
    print(str(n)*(n-i))

55555
5555
555
55
5

In [6]:
#E
#0 1 2 3 4 5 
#0 1 2 3 4 
#0 1 2 3 
#0 1 2 
#0 1

n=5
result=" "
for i in range(n,0,-1):
    for j in range(0,i+1):
        result=result+str(j)+" "
    print(result)
    result=" "

 0 1 2 3 4 5
 0 1 2 3 4
 0 1 2 3
 0 1 2
 0 1

In [12]:
#F)
#1 
#3 3 
#5 5 5 
#7 7 7 7 
#9 9 9 9 9
  
    
n=10
x=1
for i in range(n):
    if(i%2!=0):
        print(str(i)*x)
        x=x+1

1
33
555
7777
99999

In [5]:
#G)
#5 5 5 5 5 
#4 4 4 4 
#3 3 3 
#2 2 
#1


n=5
res=" "
for i in range(n,0,-1):
    res=str(i)*i
    print(res)

55555
4444
333
22
1

In [3]:
#H

#1 
#2 1 
#3 2 1 
#4 3 2 1 
#5 4 3 2 1


n=6
res=" "
for i in range(1,n):
    res=str(i)+" "+res
    print(res)

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [34]:
#I)

#5 4 3 2 1 
#4 3 2 1 
#3 2 1 
#2 1 
#1


n=5
x=1
result=" "
for i in range(n,0,-1):
    for j in range(i,0,-1):
        result=result+str(j)+" "
    print(result)
    result=" "

 5 4 3 2 1
 4 3 2 1
 3 2 1
 2 1
 1

In [49]:
#J
#1
#3 2
#6 5 4
#10 9 8 7

n=1 
m=2
res=m
for i in range(2,6):
    for j in range(n,m):
        res=res-1
        print(res,end='')
    print(" ")
    n=m
    m=m+i
    res=m

1
32
654
10987

In [51]:
#k)
#         1 
#       1 2 
#     1 2 3 
#   1 2 3 4 
# 1 2 3 4 5

n=5
for i  in range(n):
    p=1
    for j  in range(i,n):
        print(" ",end=' ')
    for j in range(i+1):
        print(p,end=' ')
        p=p+1
    print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [53]:
#O)
#* 
#* * 
#* * * 
#* * * * 
#* * * * * 

n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [54]:
#p)
#        * 
#      * * 
#    * * * 
#  * * * * 
#* * * * * 

n=5
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [55]:
#Q)
#* * * * *  
#* * * *  
#* * *  
#* *  
#*

n=5
for i in range(n):
    for j in range(i,n):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [70]:
#R

        #* * * * * * 
        # * * * * * 
         # * * * * 
          # * * * 
           # * * 
            # * 
            
n=6
for i in range(6):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print(" * ",end=" ")
    print()

   *   *   *   *   *   *
     *   *   *   *   *
       *   *   *   *
         *   *   *
           *   *
             *

In [71]:
#S)
#*****
# ****
#  ***
#   **
#    *

n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [72]:
#T)
            #*   
          # *  *   
          #*  *  *   
         #*  *  *  *   
        #*  *  *  *  *   
       #*  *  *  *  *  *   
      #*  *  *  *  *  *  *   

n=7
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i+1):
        print(" * ",end=" ")
    print()

               *
             *   *
           *   *   *
         *   *   *   *
       *   *   *   *   *
     *   *   *   *   *   *
   *   *   *   *   *   *   *

In [75]:
#U
#*  
#* *  
#* * *  
#* * * *  
#* * * * *  
#* * * * * *  
 
#* * * * * *  
#* * * * *  
#* * * *  
#* * *  
#* *  
#*  

n=6
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()
print(" ")
for i in range(n):
    for j in range(i,n):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [78]:
#V
#* 
#* * 
#* * * 
#* * * * 
#* * * * * 
#* * * * 
#* * * 
#* * 
#* 

n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n-1):
    for j in range(i,n-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [81]:
#W)

#        * 
#      * * 
#    * * * 
#  * * * * 
#* * * * * 
 # * * * * 
  #  * * * 
   #   * * 
   #     * 

n=5
for i in range(n):
    for j in range(i,n-1):
        print(" ",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print("*",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [88]:
#X)
#* * * * * 
# * * * * 
#  * * * 
#   * * 
#    * 
#    * 
#   * * 
#  * * * 
# * * * * 
#* * * * * 

n=5
for i in range(n):
    for j in range(i+1):
        print("",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()
for i in range(n):
    for j in range(i,n):
        print("",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()

 * * * * *
  * * * *
   * * *
    * *
     *
     *
    * *
   * * *
  * * * *
 * * * * *

In [93]:
#Y)
#        * 
#       * * 
#      * * * 
#     * * * * 
#    * * * * * 
#   * * * * * * 
#    * * * * * 
#     * * * * 
#      * * * 
#       * * 
#        * 

n=5
for i in range(n-1):
    for j in range(i,n):
        print("",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):
    for j in range(i+1):
        print("",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [138]:
#Z)

#    *
#   * *
#  *   *
# *     *
#*       *
# *     *
#  *   *
#   * *
#    *

n=5
for i in range(n-1):
    for j in range(i,n-1):
        print("",end=" ")
    for j in range(i):
        if(j==0):
            print("*",end=" ")
        else:
            print("",end=" ")
    for j in range(i+1):
        if(j==i):
            print("*",end=" ")
        else:
            print("",end=" ")
    print()
for i in range(n):
    for j in range(i):
        print("",end=" ")
    for j in range(i,n):
        if(j==i):
            print("*",end=" ")
        else:
            print("",end=" ")
    for j in range(i,n-1):
        if(j==n-2):
            print("*",end=" ")
        else:
            print("",end=" ")
    print()

    *
   *  *
  *    *
 *      *
*        *
 *      *
  *    *
   *  *
    *

In [165]:
#l)
#1 2 3 4 5 
#2 2 3 4 5 
#3 3 3 4 5 
#4 4 4 4 5 
#5 5 5 5 5

n=5
p=1
k=2
for i in range(n):
    q=k
    for j in range(i+1):
        print(p,end=" ")
    p=p+1
    for j in range(i,n-1):
        print(q,end=" ")
        q=q+1
    k=k+1
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [ ]:
#i am unable to find a logic for questions M and N sir.